table.dataTable tbody>tr, table.dataTable tbody>tr:hover{
  cursor: pointer;
}
div.dataTables_processing { 
  z-index: 1; 
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
  display: block !important;
  position: absolute;
  width: 210px;
  left: 50px;
}

select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;

  .select2-selection {
    background: #eee;
    box-shadow: none;
  }

  .select2-selection__arrow,
  .select2-selection__clear {
    display: none;
  }

  .select2-selection select2-selection--single{
  	background-color: #eee;
  }
}
.disabledTab:{
	pointer-events: none;
}
 .active_tab1
  {
   background-color:#fff;
   color:#333;
   font-weight: 600;
  }
 .inactive_tab1
  {
   background-color: #f5f5f5;
   color: #333;
   cursor: not-allowed;
  }
.booth{
	width: 400px;
	background-color: #ccc;
	border: 10px solid #ddd;
	margin: 0 auto;
}

.products-info {
	margin-left: 0px;
}

#photo{
	max-width: 430px;
	max-height: 250px;
}

.column_2{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}



@media only screen and (max-device-width: 480px) {

#photo{
	width: 46vw;
	max-width: 46vw;
	height: 205px;
	max-height: 205px;
	}

}

