html, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html, img, body {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

table {
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-family: arial;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
	text-align:	center;
    padding: 4px 3px 4px 5px;
    /*border: 1px solid #d0d0d0;*/
    background-color: #ededed;
}

table tr.odd {
    background-color: #ffffff;
}

table tr.even {
    background-color: #f9f9f9;
}

table tr.abang{
	color: red;
}

table td {
    padding: 4px 3px 4px 5px;
    /*border-style: none solid solid;*/
    /*border-width: 1px;*/
    /*border-color: #ededed;*/
}


table td.recap {
    padding: 2px 2px 2px 2px;
    border-style: none;
    border-width: 0px;
}

.head table {
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-family: arial;
    border: 0px;
}

@media print {
      body {
        margin: 0;
        padding: 0;
    }
      div -noprint {
        display: none;
    }
}